:root {
  --primary-color: #00b7cc;
  --secondary-color: #ff7e5a;
  --alt-color: #8D8C8A;
  --light-font-color: #F6F6F6;
  --dark-font-color: #363538;
  --box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    background-image: url("../img/bg.jpg");
    background-position: top;
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: #FFFFFF;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #101216;
}

h1 {
    font-size: 46px;
    font-weight: 800;
    color: var(--primary-color);
  }
  
h2 {
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: 800;
}

h3 {
  font-size: 30px;
  font-weight: 800;
}

hr {
  border: 0;
  height: 3px;
  background: var(--secondary-color);
}

a {
  color: #FFFFFF;
  font-weight: 400;
}

a:link {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

a:link:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  /* border: #FFFFFF solid 1px; */
  transition-duration: 500ms;
}

a:visited {
    color: var(--light-font-color);
}

a:active {
    color: var(--primary-color);
}

.darker-links {
  background-color: var(--dark-font-color);
  opacity: 0.8;
  padding: 0px 5px 0 5px;
  border-radius: 10px;
}

.divider {
  background-color: var(--primary-color);
  height: 10px;
}

.float {
  background-color: var(--dark-font-color);
  width: 120px;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  opacity: 0.4;
  transition-duration: 400ms;
}

.float:hover {
  background-color: #0F0F0F;
  opacity: 0.8;
  width: 270px;
  height: 50px;
  border: solid 5px var(--secondary-color);
  border-radius: 25px;
  transition-duration: 400ms;
  transition-timing-function: linear;
}

.header-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 100px;
}

.parallax-header {
  width: 100%;
  height: 1300px;
  background-color: #0F0F0F;
  background-image: url("../img/cannonbeach.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-attachment: fixed;
  top: 0;
  transition-duration: 4000ms;
}

.parallax-header:hover {
  background-size: 110%;
  background-position: 0 70%;
  transition-duration: 15000ms;
}

/* Fallback For Navbar */
.page-header {
  display: flex;
}

/* Grid For Navbar */
.page-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding: 10px 5% 10px 5%;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.8995973389355743) 0%, rgba(13,13,13,0.773546918767507) 100%);
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 0;
  z-index: 999;
  margin: 0 auto;
}

.title-text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size:36px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 900;
  text-shadow: 3px 4px 0px #495464;
  padding: 10px;
}

.main-navigation {
  text-align: center;
}

.navigation-link {
  display: grid;
  padding: 15px;
}

.link {
  padding: 8px;
}

.menu-button {
  width: 100%;
  background: rgb(60,193,200);
  background: linear-gradient(180deg, rgba(60,193,200,0.9094012605042017) 2%, rgba(63,170,146,0.7749474789915967) 100%);
}

.hero {
  padding-bottom: 20px;
  padding-top: 80px;
}

.hero-image {
  width: 100%;
  box-shadow: var(--box-shadow);
}

button {
    background: var(--secondary-color);
    font-family: inherit;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    min-width: 100px;
}

button:hover, button:focus {
    cursor: pointer;
    opacity: 0.6;
 
}

.button__secondary {
  background-color: var(--primary-color);
  color: #FFFFFF;
}

.profile__portrait {
  width: 90%;
  border-radius: 40px;
  box-shadow: var(--box-shadow);
}

.about-container {
  display: grid;
  grid-template-columns: 13% 87%;
  background-color: #101216;
  background-image: url("../img/airport1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 200%;
  background-position: center;
  background-attachment: fixed;
  padding: 3%;
  box-shadow: var(--box-shadow);
  transition-duration: 20000ms;
}

.about-container:hover {
  background-size: 100%;
  transition-duration: 20000ms;
}

.about-container__item {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.9612219887955182) 0%, rgba(255,255,255,0.9192051820728291) 100%);
  box-shadow: var(--box-shadow);
  padding: 5%;
}

.about-container__left-rectangle {
  background: rgb(255,255,255);
background: linear-gradient(87deg, rgba(255,255,255,0.6699054621848739) 0%, rgba(240,240,240,0.6446953781512605) 100%);
  box-shadow: var(--box-shadow);
  margin-right: 50px;
  padding: 5%;
}

.section-title {
  width: 100%;
  background: var(--dark-font-color);
  text-align: center;
  box-shadow: var(--box-shadow);
  margin-bottom: 40px;
  margin-top: 40px;
}

.section-title_text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size:36px;
  color: #FFFFFF;
  font-weight: 900;
  text-shadow: 3px 4px 0px #495464;
  padding: 2px;
}

.skills-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  align-items: center;
  background-color: #101216;
  background-image: url("../img/black_texture.jpg");
  background-repeat: repeat;
  background-position: top;
  background-attachment: fixed;
}

.skills__bg {
  background: rgb(255,255,255);
background: linear-gradient(87deg, rgba(255,255,255,0.8699054621848739) 0%, rgba(240,240,240,0.7446953781512605) 100%);
  margin: 10px;
  padding: 5px;
  box-shadow: var(--box-shadow);
}

.skill__image {
  margin: 10px;
  width: 180px;
}

.skill__image:hover {
  margin: 10px;
  cursor: mouse;
  opacity: 0.8;
  transition-duration: 400ms;
}

.footer-container {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.profile-container {
  padding-bottom: 20px;
}

/* Fallback */
.profile {
  display: flex;
  margin: 0 auto;
  padding-bottom: 20px;
}

.profile {
  display: grid;
  grid-template-columns: 33.3% 66.6%;
  grid-gap: 0px;
  padding-top: 20px;
}

.profile__photo {
  text-align: left;
}

.profile__item-container {
  background-color: #101216;
  background-image: url("../img/black_texture.jpg");
  background-repeat: repeat;
  background-position: top;
  background-attachment: fixed;
  padding: 5%;
  padding-top: 10%;
  box-shadow: var(--box-shadow);
}

.profile__item {
  text-align: right;
  padding: 5% 40px 5% 5%;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.9612219887955182) 0%, rgba(255,255,255,0.9192051820728291) 100%);
  box-shadow: var(--box-shadow);
}

.images {
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

/* Grid fallback*/

.grid__item {
  display: inline-block;
  width: 33%;
}

/* Main Grid Styling */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.grid__item {
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.9612219887955182) 0%, rgba(255,255,255,0.9192051820728291) 100%);
  padding: 15px 15px 30px 15px;
  width: auto;
  border-left: 5px solid rgb(133, 133, 133);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.work-links {
  background-color: var(--primary-color);
  padding: 10px 25px 10px 25px;
  border-radius: 15px;
  border: 1px solid var(--dark-font-color);
  color: #FFFFFF;
}

.work-links:hover {
  border: 1px solid var(--primary-color);
}

.work-container {
  padding: 0px;
  text-align: center;
  margin-bottom: 20px;
}

.project__image__container {
  overflow: hidden;
}

.project__image {
  width: 100%;
  transform: scale(1.0);
  transition-duration: 800ms;
  box-shadow: var(--box-shadow);
}

.project__image:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}

.project-desc {
  text-align: left;
}

.contact-container {
  background-color: #101216;
  background-image: url("../img/portlandterminal.jpg");
  background-size: 100%;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 15% 5% 15% 5%;
  transition-duration: 8000ms;
  box-shadow: var(--box-shadow);
}
.contact-container:hover {
  background-size: 110%;
  background-position: bottom;
  transition-duration: 10000ms;
}

.contact-card {
  width: 66.6%;
  max-width: 700px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.6495973389355743) 0%, rgba(13,13,13,0.473546918767507) 100%);
  box-shadow: var(--box-shadow);
  padding: 12px 12px 44px 12px;
  text-align: center;
  border-radius: 15px;
  margin: 0 auto;
  transition-duration: 1200ms;
}

.contact-card:hover {
  width: 100.0%;
  max-width: 1600px;
  transition-duration: 800ms;
}

.contact-info {
  font-size: 22px;
  color: var(--light-font-color);
}

.contact__link {
  color: var(--primary-color);
}

.form-container {
  padding: 40px;
  text-align: center;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.standard-label {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

input[type=email] {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: solid 2px #106A74;
}

input[type=tel] {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: solid 2px #106A74;
}

textarea {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  background-color: transparent;
  border: solid 2px #106A74;
}

.social-icons {
  box-shadow: var(--box-shadow);
  border: solid 1px #FFFFFF;
  margin: 7px;
}

.social-icons:hover {
  opacity: 0.7;
  transition-duration: 400ms;
}

@media all and (min-width: 0px) and (max-width: 1700px) {
  .parallax-header {
    height: 900px;
    transition-duration: 1200ms;
  }
}

@media all and (min-width: 0px) and (max-width: 1150px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    transition-duration: 1200ms;
  }
  .parallax-header {
    height: 550px;
    background-position: top;
    background-size: 100%;
    transition-duration: 1200ms;
  }
  .parallax-header:hover {
    background-position: top;
  }
  .float {
    display: none;
    transition-duration: 800ms;
  }
}

@media all and (min-width: 0px) and (max-width: 750px) {
  h1 {
    font-size: 34px;
  }  
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  .parallax-header {
    height: 320px;
    background-position: top;
    background-size: 120%;
    transition-duration: 1200ms;
  }
  .parallax-header:hover {
    background-position: top;
  }
  .page-header {
    grid-template-columns: 100%;
  }
  .navigation-links {
    width: 100%;
  }
  .menu-button {
    padding: 3px;
    border-radius: 5px;
    min-width: 0px;
    min-height: 40px;
  }
  .profile__portrait {
    width: 90%;
  }
  .profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    transition-duration: 1200ms;
  }
  .profile__photo {
    text-align: center;
  }
  .title-text {
    text-align: center;
    font-size: 28px;
    text-shadow: 2px 3px 0px #495464;
  }
  .menu-button {
    font-size: 14px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .skills-container {
    padding: 10px;
  }
  .skill__image {
    width: 100px;
    margin: 0px;
  }
  .contact-container {
    background-attachment: initial;
    background-position: bottom;
    background-size: 170%;
  }
  .contact-container:hover {
    background-position: bottom;
    background-size: 170%;
  }
  .contact-card {
    width: 100%;
  }
}