/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Main Colors Used

Text Color (Darker Teal):#101216
Alt Text (White): #FFFFFF
Primary Color (Teal): #106A74
Secondary Color (Fuchsia/Salmon): #B73B64

*/

:root {
  --primary-color: #106A74;
  --secondary-color: #B73B64;
  --box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.3);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    background-image: url("../img/bg.jpg");
    background-color: #FFFFFF;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #101216;
}

h1 {
    font-size: 45px;
    font-weight: 800;
    color: #495464;
  }
  
h2 {
  font-size: 38px;
  font-weight: 800;
}

h3 {
  font-size: 30px;
  font-weight: 800;
}

hr {
  border: 0;
  height: 3px;
  background: #77b3b2;
}

a {
  color: #FFFFFF;
}

a:hover, a:focus {
  text-decoration: none;
}

a:visited {
    color: #FFFFEE;
}

a:active {
    color: var(--primary-color);
}

.header-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

/* Fallback For Navbar */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* Grid For Navbar */
.page-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  padding: 10px 5% 10px 5%;
  width: 100%;
  background: rgb(119,179,178);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(119,179,178,0.9374124649859944)), to(rgba(18,99,98,0.8057598039215687)));
  background: -o-linear-gradient(top, rgba(119,179,178,0.9374124649859944) 1%, rgba(18,99,98,0.8057598039215687) 100%);
  background: linear-gradient(180deg, rgba(119,179,178,0.9374124649859944) 1%, rgba(18,99,98,0.8057598039215687) 100%);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  position: fixed;
  top: 0;
  z-index: 2;
  margin: 0 auto;
}

.title-text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size:36px;
  text-align: left;
  color: #FFFFFF;
  font-weight: 900;
  text-shadow: 3px 4px 0px #495464;
  padding: 10px;
}

.main-navigation {
  text-align: center;
}

.navigation-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 15px;
}

.menu-button {
  width: 100%;
  background: rgb(60,193,200);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, rgba(60,193,200,0.9094012605042017)), to(rgba(63,170,146,0.7749474789915967)));
  background: -o-linear-gradient(top, rgba(60,193,200,0.9094012605042017) 2%, rgba(63,170,146,0.7749474789915967) 100%);
  background: linear-gradient(180deg, rgba(60,193,200,0.9094012605042017) 2%, rgba(63,170,146,0.7749474789915967) 100%);
}

.hero {
  padding-bottom: 20px;
  padding-top: 80px;
}

.hero-image {
  width: 100%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

button {
    background: var(--secondary-color);
    font-family: inherit;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    min-width: 100px;
}

button:hover, button:focus {
    cursor: pointer;
    opacity: 0.6;
 
}

.button__secondary {
  background-color: var(--primary-color);
  color: #FFFFFF;
}

.profile__portrait {
  width: 90%;
  border-radius: 40px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.3% 66.6%;
  grid-template-columns: 33.3% 66.6%;
  background-color: #101216;
  background-image: url("../img/trees.jpg");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  background-attachment: fixed;
  padding: 5%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.about-container__item {
  background: rgb(215,215,215);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(21%, rgba(215,215,215,0.8911939775910365)), to(rgba(230,230,230,0.6923144257703081)));
  background: -o-linear-gradient(top, rgba(215,215,215,0.8911939775910365) 21%, rgba(230,230,230,0.6923144257703081) 100%);
  background: linear-gradient(180deg, rgba(215,215,215,0.8911939775910365) 21%, rgba(230,230,230,0.6923144257703081) 100%);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 5%;
}

.about-container__left-rectangle {
  background: rgb(119,179,178);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(119,179,178,0.9374124649859944)), to(rgba(18,99,98,0.8057598039215687)));
  background: -o-linear-gradient(top, rgba(119,179,178,0.9374124649859944) 1%, rgba(18,99,98,0.8057598039215687) 100%);
  background: linear-gradient(180deg, rgba(119,179,178,0.9374124649859944) 1%, rgba(18,99,98,0.8057598039215687) 100%);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  margin-right: 50px;
  padding: 5%;
}

.section-title {
  width: 100%;
  background: var(--secondary-color);
  text-align: center;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.section-title_text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size:36px;
  color: #FFFFFF;
  font-weight: 900;
  text-shadow: 3px 4px 0px #495464;
  padding: 2px;
}

.skills-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__bg {
  background: rgb(77,107,125);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(77,107,125,1)), to(rgba(7,80,102,0.6292892156862745)));
  background: -o-linear-gradient(top, rgba(77,107,125,1) 18%, rgba(7,80,102,0.6292892156862745) 100%);
  background: linear-gradient(180deg, rgba(77,107,125,1) 18%, rgba(7,80,102,0.6292892156862745) 100%);
  margin: 10px;
  padding: 5px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.skill__image {
  margin: 10px;
  width: 300px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.skill__image:hover {
  margin: 10px;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.footer-container {
  background: var(--secondary-color);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.profile-container {
  padding-bottom: 20px;
}

/* Fallback */
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-bottom: 20px;
}

.profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.3% 0px 66.6%;
  grid-template-columns: 33.3% 66.6%;
  grid-gap: 0px;
  padding-top: 20px;
}

.profile__photo {
  text-align: left;
}

.profile__item-container {
  background-color: #101216;
  background-image: url("../img/black_texture.jpg");
  background-repeat: repeat;
  background-position: top;
  background-attachment: fixed;
  padding: 5%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.profile__item {
  text-align: left;
  padding: 5% 20px 5% 15%;
  background: rgb(255,255,255);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, rgba(255,255,255,0.8421743697478992)), to(rgba(193,193,193,0.861782212885154)));
  background: -o-linear-gradient(top, rgba(255,255,255,0.8421743697478992) 4%, rgba(193,193,193,0.861782212885154) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,0.8421743697478992) 4%, rgba(193,193,193,0.861782212885154) 100%);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.images {
  width: 100%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: 10px;
}

/* Grid fallback*/

.grid__item {
  display: inline-block;
  width: 33%;
}

/* Main Grid Styling */

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background: rgb(115,115,115);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7%, rgba(115,115,115,0.5046393557422969)), to(rgba(190,190,190,0.6152836134453781)));
  background: -o-linear-gradient(top, rgba(115,115,115,0.5046393557422969) 7%, rgba(190,190,190,0.6152836134453781) 100%);
  background: linear-gradient(180deg, rgba(115,115,115,0.5046393557422969) 7%, rgba(190,190,190,0.6152836134453781) 100%);
  padding: 15px;
  width: auto;
  border-left: 5px solid rgb(133, 133, 133);
  border-top-right-radius: 25px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.grid__item:hover {
  opacity: 0.9;
}

.work-container {
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.project__image {
  width: 100%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.project-desc {
  text-align: left;
}

.contact-container {
  background-color: #101216;
  background-image: url("../img/the-connector.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: top;
  background-attachment: fixed;
  padding: 5%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.contact-card {
  width: 66.6%;
  background: rgb(255,255,255);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, rgba(255,255,255,0.9766281512605042)), to(rgba(237,237,237,0.7749474789915967)));
  background: -o-linear-gradient(top, rgba(255,255,255,0.9766281512605042) 2%, rgba(237,237,237,0.7749474789915967) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,0.9766281512605042) 2%, rgba(237,237,237,0.7749474789915967) 100%);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 12px;
  text-align: center;
  border-radius: 15px;
  margin: 0 auto;
}

.contact-info {
  font-size: 22px;
  color: #495464;
}

.contact__link {
  color: var(--primary-color);
}

.form-container {
  padding: 40px;
  text-align: center;
}

.form-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.standard-label {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
}

input[type=email] {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: solid 2px #106A74;
}

input[type=tel] {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: solid 2px #106A74;
}

textarea {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  background-color: transparent;
  border: solid 2px #106A74;
}

.social-icons {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border: solid 1px #FFFFFF;
  margin: 7px;
}

.social-icons:hover {
  opacity: 0.7;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

/* Moved Media Queries to end, and condensed code */

@media all and (min-width: 0px) and (max-width: 1150px) {
  .about-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 0px) and (max-width: 750px) {
  h1 {
    font-size: 34px;
  }  
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  .page-header {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
  .navigation-links {
    width: 100%;
  }
  .menu-button {
    padding: 3px;
    border-radius: 5px;
    min-width: 0px;
    min-height: 40px;
  }
  .profile__portrait {
    width: 90%;
  }
  .profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .profile__photo {
    text-align: center;
  }
  .title-text {
    text-align: center;
    font-size: 28px;
    text-shadow: 2px 3px 0px #495464;
  }
  .menu-button {
    font-size: 14px;
  }
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .contact-card {
    width: 100%;
  }
}